body{
	background-color: #c6cdda;
}
.btn a{
	text-decoration: none;
	color: #fafafa;
}
.btn{
	outline: none;
	border: #3b4b60;
	border-radius: 5px 5px;
	text-decoration: none;
	background-color:#3b4b60;
	color: #fafafa;
	margin: 5px;
}
.btnAction{
	width: 40px;
}
.btn:hover{
	background-color:#545e6b;
}
.formCl{
	margin: 5px;
}
.formCl input{
	width: 30%;
}
.formCl textarea{
	width: 30%;
	height: 200px;
}